{% extends 'base.html' %}

{% block title %}
  Discovery Toolkit Dashboard
{% endblock %}

{% block subtitle %}

{% endblock %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-md-4">
    <div class="card card-primary card-outline">
      <div class="card-body box-profile">
        <h2 class="text-center">{{response.global_engagement.account_name}}</h2>
        <h3 class="text-center">{{response.global_engagement.account_id}}</h3>
        <ul class="list-group list-group-unbordered mb-2">
          <li class="list-group-item"><b>New Logo</b> <span class="float-right badge bg-info">{{response.global_engagement.is_new_logo}}</span></li>
        </ul>
        <div class="row justify-content-center">
          <div class="col-6">
            <a href="{{ url_for('discovery_toolkit.index') }}" class="btn btn-dark btn-block">New Search</a>
          </div>      
          <div class="col-6">
            <a href="{{ url_for('discovery_toolkit.download_global_engagement_report',account_id=response.global_engagement.account_id) }}" class="btn btn-primary btn-block">Download Report</a>
          </div>      
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="card card-primary card-outline">
      <div class="card-body">
        <div class="row justify-content-center">
          <div class="col-sm-6">
            <a href="{{response.global_engagement.DNA.url}}" class="text-dark description-block border">
              <h3 class="description-header">DNA</h3>
              <h4 class="description-header">{{response.global_engagement.DNA.is_DNA}}</h4>
            </a>
          </div>
          <div class="col-sm-6">
            <a href="{{response.global_engagement.GNA.url}}" class="text-dark description-block border">
              <h3 class="description-header">GNA</h3>
              <h4 class="description-header">{{response.global_engagement.GNA.is_GNA}}</h4>
            </a>
          </div>
          <div class="col-sm-6">
            <a href="{{response.global_engagement.GTDP.url}}" class="text-dark description-block border">
              <h3 class="description-header">GTDP</h3>
              <h4 class="description-header">{{response.global_engagement.GTDP.is_GTDP}}</h4>
            </a>
          </div>
          <div class="col-sm-6">
            <a href="{{response.global_engagement.ADP.url}}" class="text-dark description-block border">
              <h3 class="description-header">ADP</h3>
              <h4 class="description-header">{{response.global_engagement.ADP.is_ADP}}</h4>
            </a>
          </div>
          <div class="col-sm-6">
            <a href="{{response.global_engagement.Account_Management.url}}" class="text-dark description-block border">
              <h3 class="description-header">Account Management</h3>
              <h4 class="description-header">{{response.global_engagement.Account_Management.is_Account_Management}}</h4>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row mt-4 justify-content-center">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col-12">
            <h2 class="text-center ">DUNS Location by Country (Top 10)</h2>
          </div>
          <div class="col-md-4">
            <div class="text-dark description-block border-right">
              <h3 class="text-bolder">Total GCI Matches: {{response.duns_locations.total_gci_matches}}</h3>
            </div>
          </div>
          <div class="col-md-4">
            <div class="text-dark description-block">
              <a href="{{ url_for('discovery_toolkit.download_duns_location_report',account_id=response.global_engagement.account_id) }}" class="btn btn-primary btn-block">Download Report</a>
            </div>
          </div>
          <div class="col-md-4">
            <div class="text-dark description-block border-left">
              <h3 class="text-bolder">Total Locations (D&B): {{response.duns_locations.total_locations}}</h3>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body">
        <canvas id="duns_locations_chart" height="300"></canvas>
      </div>
    </div>
  </div>
</div>

<div class="row mt-4 justify-content-center">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <div class="row justify-content-center">
          <div class="col-12">
            <h2 class="text-center">Meetings information</h2>
          </div>
          <div class="col-sm-12 col-md-4">
            <div class="text-dark description-block border-right">
              <a href="{{ url_for('discovery_toolkit.download_meetings_information_report',account_id=response.global_engagement.account_id) }}" class="btn btn-primary btn-block">Download Meetings Report</a>
            </div>
          </div>
          <div class="col-sm-12 col-md-4">
            <div class="text-dark description-block border-left">
              <a href="{{ url_for('discovery_toolkit.download_opportunities_information_report',account_id=response.global_engagement.account_id) }}" class="btn btn-primary btn-block">Download Opportunities Report</a>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-lg-6">
            <a href="{{ url_for('discovery_toolkit.meetings',account_id=response.global_engagement.account_id,type_id='INPERSON') }}" class="text-dark info-box">
              <span class="info-box-icon bg-primary elevation-1"><i class="fas fa-users"></i></span>
              <div class="info-box-content">
                <h5 class="info-box-text">In Person Meetings</h5>
                <h6 class="info-box-number">Total: {{response.meetings_information.total_in_person_meetings}}</h6>
              </div>
            </a>
          </div>
          <div class="col-lg-6">
            <a href="{{ url_for('discovery_toolkit.meetings',account_id=response.global_engagement.account_id,type_id='PHONE') }}" class="text-dark info-box">
              <span class="info-box-icon bg-dark elevation-1"><i class="fas fa-file-video"></i></span>
              <div class="info-box-content">
                <h5 class="info-box-text">Phone/Web Meetings</h5>
                <h6 class="info-box-number">Total: {{response.meetings_information.total_phone_web_meetings}}</h6>
              </div>
            </a>
          </div>
          <div class="col-lg-6">
            <a href="{{ url_for('discovery_toolkit.opportunities',account_id=response.global_engagement.account_id,type_id='WON') }}" class="text-dark info-box">
              <span class="info-box-icon bg-success elevation-1"><i class="fas fa-thumbs-up"></i></span>
              <div class="info-box-content">
                <h5 class="info-box-text">Won Opps</h5>
                <h6 class="info-box-number">Total: {{response.meetings_information.total_won_opportunities}}</h6>
              </div>
            </a>
          </div>
          <div class="col-lg-6">
            <a href="{{ url_for('discovery_toolkit.opportunities',account_id=response.global_engagement.account_id,type_id='ACTIVE') }}" class="text-dark info-box">
              <span class="info-box-icon bg-gray elevation-1"><i class="fas fa-clipboard"></i></span>
              <div class="info-box-content">
                <h5 class="info-box-text">Active Opps</h5>
                <h6 class="info-box-number">Total: {{response.meetings_information.total_active_opportunities}}</h6>
              </div>
            </a>
          </div>
          <div class="col-lg-6">
            <a href="{{ url_for('discovery_toolkit.opportunities',account_id=response.global_engagement.account_id,type_id='HOLD') }}" class="text-dark info-box">
              <span class="info-box-icon bg-purple elevation-1"><i class="fas fa-eye"></i></span>
              <div class="info-box-content">
                <h5 class="info-box-text">On Hold Opps</h5>
                <h6 class="info-box-number">Total: {{response.meetings_information.total_on_hold_opportunities}}</h6>
              </div>
            </a>
          </div>
          <div class="col-lg-6">
            <a href="{{ url_for('discovery_toolkit.opportunities',account_id=response.global_engagement.account_id,type_id='LOST') }}" class="text-dark info-box">
              <span class="info-box-icon bg-danger elevation-1"><i class="fas fa-thumbs-down"></i></span>
              <div class="info-box-content">
                <h5 class="info-box-text">Lost Opps</h5>
                <h6 class="info-box-number">Total: {{response.meetings_information.total_lost_opportunities}}</h6>
              </div>
            </a>
          </div>
          <!-- fix for small devices only -->
          <div class="clearfix hidden-md-up"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row mt-4 justify-content-center">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <div class="row justify-content-center">
          <div class="col-12">
            <h2 class="text-center ">Total Completed Meetings by Branch (Last 12 Months)</h2>
          </div>
          <div class="col-md-4">
            <div class="text-dark description-block">
              <a href="https://exporeporting2.corp.expeditors.com/sree/app/viewer/view/global/Sales%20and%20Marketing/Global%20Engagement?drillId=drill1" target="_blank" class="btn btn-primary btn-block">Link to the CRM Meetings</a>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body">
        <canvas id="meetings_activity_chart" height="300"></canvas>
      </div>
    </div>
  </div>
</div>

<div class="row mt-4 justify-content-center">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <div class="row justify-content-center">
          <div class="col-12">
            <h2 class="text-center ">Total Active/Won Opportunities by branch (Last 12 Months) - Top 20</h2>
          </div>
        </div>
      </div>
      <div class="card-body">
        <canvas id="active_won_opps_chart" height="300"></canvas>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script>
  'use strict'
  var ticksStyle = {
    fontColor: '#495057',
    fontStyle: 'bold'
  }
  var mode = 'index'
  var intersect = true
  
  var $dunsLocationChart = $('#duns_locations_chart')
  var dunsLocationChart = new Chart($dunsLocationChart,
  {
    type: 'bar',
    data:
    {
      labels: {{response.duns_locations.duns_locations_chart.duns_countries | tojson }},
      datasets:
      [
        {
          label: "GCI Match",
          backgroundColor: '#3d9970',
          borderColor: '#3d9970',
          data: {{response.duns_locations.duns_locations_chart.duns_gci_matches | tojson }}
        },
        {
          label: "GCI No Match",
          backgroundColor: '#ced4da',
          borderColor: '#ced4da',
          data: {{response.duns_locations.duns_locations_chart.duns_gci_no_matches | tojson }}
        }
      ]
    },
    options:
    {
      maintainAspectRatio: false,
      tooltips:
      {
        mode: 'index',
        intersect: intersect
      },
      hover:
      {
        mode: mode,
        intersect: intersect
      },
      legend:
      {
        display: true
      },
      scales:
      {
        yAxes:
        [
          {
            stacked: true,
            gridLines:
            {
              display: true,
              lineWidth: '4px',
              color: 'rgba(0, 0, 0, .2)',
              zeroLineColor: 'transparent'
            },
            ticks: $.extend(
            {
              beginAtZero: true,
              // Include a dollar sign in the ticks
              callback: function (value)
              {
                if (value >= 1000)
                {
                  value /= 1000
                  value += 'k'
                }
                return  value
              }
            }
            ,ticksStyle)
          }
        ],
        xAxes:
        [
          {
            stacked: true,
            display: true,
            gridLines:
            {
              display: false
            },
            ticks: ticksStyle
          }
        ]
      }
    }
  })
  
  var $meetingsActivityChart = $('#meetings_activity_chart')
  var $meetingsActivityChart = new Chart($meetingsActivityChart,
  {
    type: 'bar',
    data:
    {
      labels: {{response.meetings_information.meetings_activity_chart.branches | tojson }},
      datasets:
      [
        {
          label: "Completed meetings",
          backgroundColor: '#283270',
          borderColor: '#283270',
          data: {{response.meetings_information.meetings_activity_chart.total_meetings | tojson }}
        }
      ]
    },
    options:
    {
      maintainAspectRatio: false,
      tooltips:
      {
        mode: 'index',
        intersect: intersect
      },
      hover:
      {
        mode: mode,
        intersect: intersect
      },
      legend:
      {
        display: true
      },
      scales:
      {
        yAxes:
        [
          {
            stacked: true,
            gridLines:
            {
              display: true,
              lineWidth: '4px',
              color: 'rgba(0, 0, 0, .2)',
              zeroLineColor: 'transparent'
            },
            ticks: $.extend(
            {
              beginAtZero: true,
              // Include a dollar sign in the ticks
              callback: function (value)
              {
                if (value >= 1000)
                {
                  value /= 1000
                  value += 'k'
                }
                return  value
              }
            }
            ,ticksStyle)
          }
        ],
        xAxes:
        [
          {
            stacked: true,
            display: true,
            gridLines:
            {
              display: false
            },
            ticks: ticksStyle
          }
        ]
      }
    }
  })

  var $activeWonOppsChart = $('#active_won_opps_chart')
  var activeWonOppsChart = new Chart($activeWonOppsChart,
  {
    type: 'bar',
    data:
    {
      labels: {{response.meetings_information.active_won_opps_chart.branches | tojson }},
      datasets:
      [
        {
          label: "Won Opps",
          backgroundColor: '#3d9970',
          borderColor: '#3d9970',
          data: {{response.meetings_information.active_won_opps_chart.won_opportunities | tojson }}
        },
        {
          label: "Active Opps",
          backgroundColor: '#ced4da',
          borderColor: '#ced4da',
          data: {{response.meetings_information.active_won_opps_chart.active_opportunities | tojson }}
        }
      ]
    },
    options:
    {
      maintainAspectRatio: false,
      tooltips:
      {
        mode: 'index',
        intersect: intersect
      },
      hover:
      {
        mode: mode,
        intersect: intersect
      },
      legend:
      {
        display: true
      },
      scales:
      {
        yAxes:
        [
          {
            stacked: true,
            gridLines:
            {
              display: true,
              lineWidth: '4px',
              color: 'rgba(0, 0, 0, .2)',
              zeroLineColor: 'transparent'
            },
            ticks: $.extend(
            {
              beginAtZero: true,
              // Include a dollar sign in the ticks
              callback: function (value)
              {
                if (value >= 1000)
                {
                  value /= 1000
                  value += 'k'
                }
                return  value
              }
            }
            ,ticksStyle)
          }
        ],
        xAxes:
        [
          {
            stacked: true,
            display: true,
            gridLines:
            {
              display: false
            },
            ticks: ticksStyle
          }
        ]
      }
    }
  })
</script>
{% endblock %}