{% extends 'base.html' %}

{% block title %}
  Discovery Toolkit Dashboard
{% endblock %}

{% block subtitle %}

{% endblock %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-md-4">
    <div class="card card-primary card-outline">
      <div class="card-body box-profile">
        <h2 class="text-center">SAMSUNG</h2>
        <h3 class="text-center">C0000010</h3>
        <ul class="list-group list-group-unbordered mb-2">
          <li class="list-group-item"><b>New Logo</b> <b class="float-right">No**</b></li>
        </ul>
        <div class="row justify-content-center">
          <div class="col-6">
            <a href="{{ url_for('discovery_toolkit.index') }}" class="btn btn-dark btn-block">New Search</a>
          </div>      
          <div class="col-6">
            <a href="{{ url_for('discovery_toolkit.index') }}" class="btn btn-primary btn-block">Download Report</a>
          </div>      
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="card card-primary card-outline">
      <div class="card-body">
        <div class="row justify-content-center">
          <div class="col-sm-6">
            <a href="{{ url_for('discovery_toolkit.index') }}" class="text-dark description-block border">
              <h3 class="description-header">DNA</h3>
              <h4 class="description-header">Yes</h4>
            </a>
          </div>
          <div class="col-sm-6">
            <a href="{{ url_for('discovery_toolkit.index') }}" class="text-dark description-block border">
              <h3 class="description-header">GNA</h3>
              <h4 class="description-header">Yes</h4>
            </a>
          </div>
          <div class="col-sm-6">
            <a href="{{ url_for('discovery_toolkit.index') }}" class="text-dark description-block border">
              <h3 class="description-header">GTDP</h3>
              <h4 class="description-header">No</h4>
            </a>
          </div>
          <div class="col-sm-6">
            <a href="{{ url_for('discovery_toolkit.index') }}" class="text-dark description-block border">
              <h3 class="description-header">ADP</h3>
              <h4 class="description-header">No</h4>
            </a>
          </div>
          <div class="col-sm-6">
            <a href="{{ url_for('discovery_toolkit.index') }}" class="text-dark description-block border">
              <h3 class="description-header">Account Management</h3>
              <h4 class="description-header">Yes</h4>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row mt-4 justify-content-center">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col-12">
            <h2 class="text-center ">DUNS Location by Country (Top 10)</h2>
          </div>
          <div class="col-md-4">
            <div class="text-dark description-block border-right">
              <h3 class="text-bolder">Total GCI Matches: 1262</h3>
            </div>
          </div>
          <div class="col-md-4">
            <div class="text-dark description-block">
              <a href="{{ url_for('discovery_toolkit.index') }}" class="btn btn-primary btn-block">Download Report</a>
            </div>
          </div>
          <div class="col-md-4">
            <div class="text-dark description-block border-left">
              <h3 class="text-bolder">Total Locations (D&B): 3718</h3>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body">
        <canvas id="duns_location_chart" height="300"></canvas>
      </div>
    </div>
  </div>
</div>

<div class="row mt-4 justify-content-center">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <div class="row justify-content-center">
          <div class="col-12">
            <h2 class="text-center">Meetings information</h2>
          </div>
          <div class="col-sm-12 col-md-4">
            <div class="text-dark description-block border-right">

              <a href="{{ url_for('discovery_toolkit.index') }}" class="btn btn-primary btn-block">Download Meetings Report</a>
            </div>
          </div>
          <div class="col-sm-12 col-md-4">
            <div class="text-dark description-block border-left">
              <a href="{{ url_for('discovery_toolkit.index') }}" class="btn btn-primary btn-block">Download Opportunities Report</a>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="row">

          <div class="col-sm-6 col-xl-2">
            <div class="info-box">
              <span class="info-box-icon bg-primary elevation-1"><i class="fas fa-users"></i></span>
              <div class="info-box-content">
                <h5 class="info-box-text">In Person Meetings</h5>
                <h6 class="info-box-number">Total: 220</h6>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-xl-2">
            <div class="info-box">
              <span class="info-box-icon bg-dark elevation-1"><i class="fas fa-file-video"></i></span>
              <div class="info-box-content">
                <h5 class="info-box-text">Phone/Web Meetings</h5>
                <h6 class="info-box-number">Total: 440</h6>
              </div>
            </div>
          </div>

          <div class="col-sm-6 col-xl-2">
            <div class="info-box">
              <span class="info-box-icon bg-success elevation-1"><i class="fas fa-thumbs-up"></i></span>
              <div class="info-box-content">
                <h5 class="info-box-text">Won Opps</h5>
                <h6 class="info-box-number">Total: 57</h6>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-xl-2">
            <div class="info-box">
              <span class="info-box-icon bg-gray elevation-1"><i class="fas fa-clipboard"></i></span>
              <div class="info-box-content">
                <h5 class="info-box-text">Active Opps</h5>
                <h6 class="info-box-number">Total: 53</h6>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-xl-2">
            <div class="info-box">
              <span class="info-box-icon bg-purple elevation-1"><i class="fas fa-eye"></i></span>
              <div class="info-box-content">
                <h5 class="info-box-text">On Hold Opps</h5>
                <h6 class="info-box-number">Total: 6</h6>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-xl-2">
            <div class="info-box">
              <span class="info-box-icon bg-danger elevation-1"><i class="fas fa-thumbs-down"></i></span>
              <div class="info-box-content">
                <h5 class="info-box-text">Lost Opps</h5>
                <h6 class="info-box-number">Total: 46</h6>
              </div>
            </div>
          </div>




          <!-- fix for small devices only -->
          <div class="clearfix hidden-md-up"></div>

        </div>
      </div>
    </div>
  </div>
</div>

<div class="row mt-4 justify-content-center">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <div class="row justify-content-center">
          <div class="col-12">
            <h2 class="text-center ">Meetings activity</h2>
          </div>
          <div class="col-md-4">
            <div class="text-dark description-block">
              <a href="{{ url_for('discovery_toolkit.index') }}" class="btn btn-primary btn-block">Download Report</a>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body">
        <canvas id="meetings_activity_chart" height="300"></canvas>
      </div>
    </div>
  </div>
</div>


{% endblock %}

{% block scripts %}
<script>
  'use strict'
  var ticksStyle = {
    fontColor: '#495057',
    fontStyle: 'bold'
  }
  var mode = 'index'
  var intersect = true
  var $dunsLocationChart = $('#duns_location_chart')
  // eslint-disable-next-line no-unused-vars
  var dunsLocationChart = new Chart($dunsLocationChart,
  {
    type: 'bar',
    data:
    {
      labels: ['JUN', 'JUL', 'AUG', 'SEP', 'OCT', 'NOV', 'DEC'],
      datasets:
      [
        {
          label: "GCI No Match",
          backgroundColor: '#007bff',
          borderColor: '#007bff',
          data: [1200, 200, 300, 250, 270, 250, 300]
        },
        {
          label: "GCI Match",
          backgroundColor: '#ced4da',
          borderColor: '#ced4da',
          data: [700, 170, 270, 200, 180, 150, 200]
        }
      ]
    },
    options:
    {
      maintainAspectRatio: false,
      tooltips:
      {
        mode: 'index',
        intersect: intersect
      },
      hover:
      {
        mode: mode,
        intersect: intersect
      },
      legend:
      {
        display: true
      },
      scales:
      {
        yAxes:
        [
          {
            stacked: true,
            gridLines:
            {
              display: true,
              lineWidth: '4px',
              color: 'rgba(0, 0, 0, .2)',
              zeroLineColor: 'transparent'
            },
            ticks: $.extend(
            {
              beginAtZero: true,
              // Include a dollar sign in the ticks
              callback: function (value)
              {
                if (value >= 1000)
                {
                  value /= 1000
                  value += 'k'
                }
                return  value
              }
            }
            ,ticksStyle)
          }
        ],
        xAxes:
        [
          {
            stacked: true,
            display: true,
            gridLines:
            {
              display: false
            },
            ticks: ticksStyle
          }
        ]
      }
    }
  })
</script>
{% endblock %}