{% extends 'base.html' %}

{% block title %}
  Discovery Toolkit
{% endblock %}

{% block subtitle %}

{% endblock %}

{% block content %}
<div class="row d-flex">
  <div class="col-lg-6 mx-auto">
    <div class="row d-flex">
      <div class="col-6 mx-auto">
        <div class="card">
          <div class="card-body login-card-body">
            <div class="login-logo">
              <b>Account #</b>
            </div>
            <p class="login-box-msg">Please provide the customer account</p>
            <form action="{{ url_for('discovery_toolkit.dashboard') }}" method="POST">
              <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="CXXXXXXX" name="account_id" id="account_id" required>
                <div class="input-group-append">
                  <div class="input-group-text">
                    <span class="fas fa-paperclip"></span>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <button type="submit" class="btn btn-primary btn-block">Search information</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
